{% set flexLeft = entry.columnWidths.value ?? 1 %}
<div style="display: flex; gap: 2rem;  padding: 0 24px; background-color: {{ entry.bgColor }}; color: {{ entry.textColor }}">
    <div style="flex: {{ flexLeft }};">
        {{ entry.leftColumn.render }}
    </div>

    <div style="flex: 1;">
        {{ entry.rightColumn.render }}
    </div>
</div>