<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ systemName }}</title>
    {# https://simplecss.org/ #}
    <link rel="stylesheet" href="/assets/simple.css">
</head>
<body>

<header>
    <h1>{{ systemName }}</h1>

    <nav>
        <ul>
            <li>
                <a href="{{ siteUrl }}">Home</a>
            </li>
        </ul>
    </nav>


    {% block featuredImage %}
        {% if entry.featuredImage %}
            {% set image = entry.featuredImage.one %}
            {% if image %}
                {{ image.img({width: 1024, height: 400}) }}
            {% endif %}
        {% endif %}
    {% endblock %}

</header>

<main>

    {% block title %}
        <h1>{{ entry.title }}</h1>
    {% endblock %}

    {% block meta %}
    {% endblock %}

    {% block content %}

    {% endblock %}

</main>

<footer>
    &copy; {{ now|date('Y') }} <a href="{{ entry.cpEditUrl }}">Edit</a>
</footer>

</body>
</html>