<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ systemName }}</title>
    <link href="{{ url('/dist/assets/app.css') }}" rel="stylesheet">
</head>
<body class="bg-slate-50 text-slate-800">

<header class="mb-8 max-w-screen-lg mx-auto pt-8">
    <nav class="flex items-center justify-between pb-6 px-4">
        <a class="font-bold text-2xl" href="{{ siteUrl('/') }}">{{ systemName }}</a>
        <ul class="flex space-x-4">
            <li>
                <a href="#">Page 1</a>
            </li>
            <li>
                <a href="#">Page 2</a>
            </li>
        </ul>
    </nav>

    {% block featuredImage %}
        <img src="https://picsum.photos/1024/400" alt="Random image" width="1024" height="400">
    {% endblock %}

</header>

<main class="max-w-screen-md mx-auto px-4">

    {% block title %}
        <h1 class="font-bold text-3xl mb-8">{{ entry.title }}</h1>
    {% endblock %}

    {% block meta %}
        <div class="my-8 border-2 border-gray-500 rounded-md p-6 bg-gray-100 text-lg">
            Created by {{ entry.author.name }}, {{ entry.postDate|date('short') }}
        </div>
    {% endblock %}

    {% block content %}
        <div class="prose prose-lg max-w-none">
            {% block proseContent %}

            {% endblock %}
        </div>
    {% endblock %}

</main>

<footer class="mt-8 max-w-screen-lg mx-auto border-t border-gray-500 py-6 px-4">
    &copy; {{ now|date('Y') }}
</footer>

</body>
</html>